.nav_link {
    color: white;
    position: relative;
  }
  
  .nav_link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(45deg, #8750F7, #fff);
    transition: width 0.3s ease;
  }
  
  .nav_link:hover::after,
  .nav_link_active::after {
    width: 100%;
  }